spring.application.name=****

spring.datasource.url=jdbc:****
spring.datasource.username=****
spring.datasource.password=****
spring.datasource.driver-class-name=****

firebase.project-id=****
firebase.service-account-path=****

gemini.api.key=****
gemini.model=****
gemini.temperature=****


spring.jpa.hibernate.ddl-auto=****
spring.jpa.show-sql=****

jwt.unknow=****
jwt.exp=****
