<div class="container-fluid main-vh-100 p-0">
    <div class="row h-100 m-0">

        <div class="col-md-3 p-4 sidebar">
            <h3 class="mb-4 fw-bold">Menu</h3>

            <ul class="list-unstyled menu-links">
                <li class="mb-3" routerLink="/dashboard">Mis movimientos</li>
                <li class="mb-3" routerLink="/metas-ahorro-list">Metas de ahorro</li>
                <li class="mb-3" routerLink="/transacciones">Transacciones</li>
                <li class="mb-3" routerLink="/categorias">Categorías</li>
                <li class="mb-3" routerLink="/presupuesto">Presupuesto</li>
            </ul>

        </div>

        <div class="col-md-9 p-5 main-content">
            <div class="row g-4">
                <div class="col-lg-5">
                    <div class="card category-card p-4">
                        <h3 class="fw-bold mb-3">
                            {{ isEditMode ? 'Editar categoría' : 'Nueva categoría' }}
                        </h3>

                        <p class="mb-4 text-muted-custom">
                            Las categorías te ayudan a organizar tus ingresos y gastos. Por ejemplo: salario,
                            transporte, comida o arriendo.
                        </p>

                        <div *ngIf="errorMensaje" class="alert alert-danger">
                            {{ errorMensaje }}
                        </div>

                        <div *ngIf="mensajeExito" class="alert alert-success">
                            {{ mensajeExito }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="nuevaCategoria.nombreCategoria"
                                name="nombreCategoria" placeholder="Ej: Transporte">
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Tipo</label>
                            <select class="form-select" [(ngModel)]="nuevaCategoria.tipoCategoria" name="tipoCategoria">
                                <option value="GASTO">Gasto</option>
                                <option value="INGRESO">Ingreso</option>
                            </select>
                        </div>

                        <div class="d-flex gap-2">
                            <button class="btn btn-custom flex-fill" (click)="guardarCategoria()">
                                {{ isEditMode ? 'Actualizar categoría' : 'Guardar categoría' }}
                            </button>

                            <button *ngIf="isEditMode" class="btn btn-secondary" (click)="cancelarEdicion()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="card category-card p-4">
                        <h3 class="fw-bold mb-4">Tus categorías</h3>

                        <p class="mb-4 text-muted-custom">
                            Primero crea una categoría y luego podrás usarla al registrar transacciones.
                        </p>


                        <div *ngIf="categorias.length === 0" class="text-muted-custom">
                            No tienes categorías registradas.
                        </div>

                        <div *ngFor="let categoria of categorias" class="category-row">
                            <div>
                                <div class="fw-semibold">{{ categoria.nombreCategoria }}</div>
                                <span class="badge mt-1"
                                    [ngClass]="esIngreso(categoria.tipoCategoria) ? 'badge-income' : 'badge-expense'">
                                    {{ categoria.tipoCategoria }}
                                </span>
                            </div>

                            <div class="d-flex gap-2">
                                <button class="btn btn-sm btn-outline-light" (click)="editarCategoria(categoria)">
                                    Editar
                                </button>

                                <button class="btn btn-sm btn-danger"
                                    (click)="eliminarCategoria(categoria.categoriaId!)">
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>